<div class="movie-card">
    <a href="/movie/{{ movie.id }}">
        <img src="{{ movie.poster_large }}" alt="{{ movie.title_main }} ({{ movie.release_year }})" onerror="this.onerror = null; this.src='static/img/no_poster.jpg'" class="movie-poster">
        <div class="bottom-band"></div>
        <div class="movie-info">
            <h2 class="movie-title">{{ movie.title_main }}</h2>
            <p class="movie-year">{{ movie.release_year }}</p>
            <p class="movie-description">{{ movie.plot }}</p>
        </div>
    </a>
</div>