{% extends 'main.html' %}

<!-- <head> -->
{% block title %}
  <title>Dansvank's Home</title>
{% endblock title %}
{% block header %}
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/catalog_styles.css') }}">
{% endblock header %}
<!-- </head> -->

<!-- <body> -->
{% block content %}

<h2>Catalog</h2>
<div id="movieList border" class="container" style="margin-bottom:16px; padding-bottom:8px;" >
    <div class="media-library">
      {% for movie in movies %}
          {% include 'cardView.html' %}
      {% endfor %}
    </div>
</div>
{% endblock content %}
<!-- </body> -->



<!-- 
TO DO

-->