body {
    font-family: Arial, sans-serif;
    background-color: #685883;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.media-library {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 20px;
}

.movie-card {
    position: relative;
    width: 300px;
    height: 450px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.movie-poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie-info {
    position: absolute;
    bottom: -25%;
    width: 100%;
    height: 40%; /* Set the height as a percentage of the card's height */
    padding: 10px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px) brightness(60%);
    text-align: left;
    transition: bottom 0.3s ease-in-out;
}

.movie-card:hover .movie-info {
    bottom: 0; /* Slide up on hover */
}

.movie-title {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movie-year {
    font-size: 14px;
    margin-top: 2px;
    margin-bottom: 10px;
}

.movie-description {
  font-size: 14px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5; 
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5em;
  max-height: 7.5em;
}

.details-layout {
  width: 100%;
  display: flex;
  gap: 8px;
}

.marginLeft { margin-left: auto; }

.small-text {
    font-size: 0.8em;
}


.rating {
    vertical-align: text-top;
}

.imdb-rating, .rt-rating {

    font-weight: bold;
}

.denbug{
    border: 1px solid white;
}