body {
    background-color: black;
}

.background-blur {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-size: cover;
    filter: blur(50px);
    z-index: -1;
}

.movie-poster {    
    border: 2px solid black;
    display: block;
}

.movie-info{
    backdrop-filter: brightness(120%);
    margin-bottom: 50px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
}